My_workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/5****"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d32af80e-b44e-42c2-bd62-dc7c59d3875c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "TXMnqsKgf8I22GBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.Subject }}{{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Promptions",
              "description": "This is an email looking to sell me things"
            },
            {
              "category": "Social",
              "description": "Any email from a social media site like Facebook, Youtube or Instagram"
            },
            {
              "category": "Personal ",
              "description": "An email send from a friend, family member or something personal "
            },
            {
              "category": "Sales",
              "description": "Anything regarding clients sending over documents , sales etc"
            },
            {
              "category": "Interview",
              "description": "Invitation for an interview"
            },
            {
              "category": "Receipts ",
              "description": "These are transaction emails for receipts "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "26e3ad78-2e12-4454-9e33-ebcb56fa600a",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        220
      ],
      "id": "5da014a1-72f4-4e3d-9518-550fcbf5ae74",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FDRs0r2G5iRbnCsg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_PROMOTIONS"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -520
      ],
      "id": "f8f2f834-52ec-4af6-95ab-10e6887e803d",
      "name": "Gmail",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TXMnqsKgf8I22GBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1983136940531543791"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        20
      ],
      "id": "cefccc7a-41c1-460d-81f6-08a2e2961f7f",
      "name": "Gmail1",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TXMnqsKgf8I22GBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_PERSONAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -160
      ],
      "id": "927a97da-f082-4b5a-b3d5-20820f43a6f0",
      "name": "Gmail2",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TXMnqsKgf8I22GBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -340
      ],
      "id": "b41240ce-bd48-427f-b11f-31be3e93a02f",
      "name": "Gmail3",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TXMnqsKgf8I22GBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_1174719143055640273"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        420
      ],
      "id": "47065bac-30cb-4f3d-9aa8-4d6f93951120",
      "name": "Gmail4",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TXMnqsKgf8I22GBB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_6677812752356646923"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        220
      ],
      "id": "7702b1c9-2e21-49e6-a849-df6a5da317cf",
      "name": "Gmail5",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TXMnqsKgf8I22GBB",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19703625152e6b44",
          "threadId": "19703625152e6b44",
          "snippet": "this is a sales email",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 49905,
          "historyId": "3213029",
          "internalDate": "1748108463000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PROMOTIONS",
              "name": "CATEGORY_PROMOTIONS"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "DoorDash <no-reply@messages.doordash.com>",
          "Subject": "Your next delivery should be 20% off",
          "To": "noormmlk@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2135eac-7ff1-4389-b770-7a31a5d05d3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "872a57a8d662437453ff867d7614e000922ca2fb75f772f5fa5a05301613101e"
  },
  "id": "lRk9rcIim51pPx8d",
  "tags": []
}