My_workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "*/5****"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d32af80e-b44e-42c2-bd62-dc7c59d3875c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.Subject }}{{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Promptions",
              "description": "This is an email looking to sell me things"
            },
            {
              "category": "Social",
              "description": "Any email from a social media site like Facebook, Youtube or Instagram"
            },
            {
              "category": "Personal ",
              "description": "An email send from a friend, family member or something personal "
            },
            {
              "category": "Sales",
              "description": "Anything regarding clients sending over documents , sales etc"
            },
            {
              "category": "Interview",
              "description": "Invitation for an interview"
            },
            {
              "category": "Receipts ",
              "description": "These are transaction emails for receipts "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "26e3ad78-2e12-4454-9e33-ebcb56fa600a",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        220
      ],
      "id": "5da014a1-72f4-4e3d-9518-550fcbf5ae74",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FDRs0r2G5iRbnCsg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_PROMOTIONS"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -520
      ],
      "id": "f8f2f834-52ec-4af6-95ab-10e6887e803d",
      "name": "Gmail",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2626507391369697540"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        20
      ],
      "id": "cefccc7a-41c1-460d-81f6-08a2e2961f7f",
      "name": "Gmail1",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_PERSONAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -160
      ],
      "id": "927a97da-f082-4b5a-b3d5-20820f43a6f0",
      "name": "Gmail2",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -340
      ],
      "id": "b41240ce-bd48-427f-b11f-31be3e93a02f",
      "name": "Gmail3",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_1174719143055640273"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        420
      ],
      "id": "47065bac-30cb-4f3d-9aa8-4d6f93951120",
      "name": "Gmail4",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_5422155136127548544"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        220
      ],
      "id": "7702b1c9-2e21-49e6-a849-df6a5da317cf",
      "name": "Gmail5",
      "webhookId": "033b8139-1dbd-4c70-9ea2-cbd0aec1db4e",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        940,
        -520
      ],
      "id": "1d37f4a4-a8b0-42cd-909f-8e0a52a8e5a9",
      "name": "Gmail6",
      "webhookId": "40bbba8f-8d1e-4ef8-a9f2-7275fa748057",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot at summarizing emails",
              "role": "system"
            },
            {
              "content": "=subject:{{ $('Gmail Trigger').item.json.snippet }}\nemail body: {{ $('Gmail Trigger').item.json.Subject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        940,
        -340
      ],
      "id": "74314abf-0a5f-4078-906b-02837fc881cf",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "FDRs0r2G5iRbnCsg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ibioxiylH6sNRtn3Qy2WjWzcW4kwoECKPNTVoVLEMnQ",
          "mode": "list",
          "cachedResultName": "Email sumary n8n Excel sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ibioxiylH6sNRtn3Qy2WjWzcW4kwoECKPNTVoVLEMnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ibioxiylH6sNRtn3Qy2WjWzcW4kwoECKPNTVoVLEMnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Gmail3').item.json.id }}",
            "Date": "={{ $now }}",
            "subject line": "={{ $('Gmail Trigger').item.json.Subject }}",
            "summary": "={{ $json.message.content }}",
            "snippit": "={{ $('Gmail Trigger').item.json.snippet }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject line",
              "displayName": "subject line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "snippit",
              "displayName": "snippit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1300,
        -340
      ],
      "id": "50e29766-8984-4ec6-b1b0-419d60cd24e1",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "v5DXfPPNInFd3F8P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.content.subject_line }}",
        "message": "={{ $json.message.content.email_body }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1380,
        -160
      ],
      "id": "2745b582-990a-444a-bed9-d2ba667f6ff7",
      "name": "Gmail7",
      "webhookId": "afd92804-a0e2-4aa3-a46e-647098b23070",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot at replaying to emails.\nPlease sign off on all emails as follows:\n\"Best,\nNoor\"\nAlso separate paragraphs by line breaks",
              "role": "system"
            },
            {
              "content": "=This is the email to replay to:\nsubject:{{ $('Gmail Trigger').item.json.Subject }}\nemail body: {{ $('Gmail Trigger').item.json.snippet }}\nThis is from: {{ $('Gmail Trigger').item.json.From }}"
            },
            {
              "content": "Please format the data in JSON format:\n\n{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        960,
        -160
      ],
      "id": "3e5aeae3-2185-44f4-8fba-3e608f57d902",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "FDRs0r2G5iRbnCsg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot at replaying to sales emails.\nPlease sign off on all emails as follows:\n\"Best,\nNoor\"\nAlso separate paragraphs by line breaks",
              "role": "system"
            },
            {
              "content": "=This is the email to replay to:\nsubject:{{ $('Gmail Trigger').item.json.Subject }}\nemail body: {{ $('Gmail Trigger').item.json.snippet }}\nThis is from: {{ $('Gmail Trigger').item.json.From }}"
            },
            {
              "content": "Please format the data in JSON format:\n\n{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        960,
        20
      ],
      "id": "a5165845-51d9-4fb5-b1ee-2d3dff900c42",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "FDRs0r2G5iRbnCsg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.message.content.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        20
      ],
      "id": "cacc4042-3046-48f1-ba25-ab9eba29292d",
      "name": "Gmail8",
      "webhookId": "3b4cc9b7-2891-41ff-ab34-0657527bb22e",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "noormmlk@gmail.com",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $('Gmail Trigger').item.json.snippet }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        220
      ],
      "id": "57bfc370-a6dd-4945-8f4d-6601f1aee3d8",
      "name": "Gmail9",
      "webhookId": "3b4cc9b7-2891-41ff-ab34-0657527bb22e",
      "credentials": {
        "gmailOAuth2": {
          "id": "gZk3u4zvnrhmRW6X",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19705698474df6b9",
          "threadId": "197056940eca3b20",
          "snippet": "Hello, this is a interview email. Best,",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 670,
          "historyId": "2838",
          "internalDate": "1748142491000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "Test3",
          "From": "Agent Hacks <hacksagent460@gmail.com>",
          "To": "Agent Hacks <hacksagent460@gmail.com>"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Gmail6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail3": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Gmail7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Gmail8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail5": {
      "main": [
        [
          {
            "node": "Gmail9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6560c7f6-23d8-4d6e-8dae-44764dcd1c02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "872a57a8d662437453ff867d7614e000922ca2fb75f772f5fa5a05301613101e"
  },
  "id": "lRk9rcIim51pPx8d",
  "tags": []
}